<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |book| %>
      <tr>
        <td><%= link_to(post.user) do %>
          <%= image_tag post.image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to post.title,post, class: "post_#{post.id}" %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>