<%= render 'layouts/errors', obj: @post %>
<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0">
      
  		<h1>Editing Game</h1>
  		<%= render 'form', post: @post %>
  		<%= link_to 'Show', @post, class: "post_#{@post.id}" %> |
  		<%= link_to 'Back', posts_path, class: "back" %>
  </div>
</div>