// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post_title {
  text-align: center;
  padding: 1em 0;
  color: #5e5e5e;
}

.image_border {
  border-bottom: solid 3px #d9e5ff;
  position: relative;
}

.image_border:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px  #000080;
  bottom: -3px;
  width: 20%;
}

.post-form-item {
  margin-bottom: 0.75em;
  width: 100%;
  color: #5e5e5e;
}

.post-form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.post-form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.post-button-panel {
  margin: 2em 0 0;
  width: 100%;
  color: #5e5e5e;
}


.post-button-panel .post-button {
  background:  #000080;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}