<div class="cntainer">

	<div class="main-visual">
		<div class="main-visual-content">
			<h3 class="main-visual-text">
			  一緒にボードゲームしませんか！？
			</h3>
		</div>
	</div>

	<div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <i class="fas fa-dice"></i><strong>Bankyo</strong>  !!</h1>
      <i class="fas fa-dice"></i><strong>Bankyo</strong>とは... </p>
      <p>Bankyo → ばんきょう → 盤共...で盤上共同体の略!!</p>
      <p>盤上とはここではボードゲームのことを指し、</p>
      <p>つまるところ、</p>
      <p>ボードゲームを通した交流や、情報共有を目的としたサイトです!!</p>
    </div>
  </div>

</div>