<div class="cntainer">
	
	<div class="main-visual">
		<div class="main-visual-content">
			<h3 class="main-visual-text">
			  ボードゲームで遊びませんか？
			</h3>
		</div>
	</div>
	
	<div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <i class="fas fa-book"></i><strong>Bankyo</strong>  !!</h1>
      <p><i class="fas fa-book"></i><strong>Bankyoとは</strong>... </p>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
    </div>
  </div>

</div>